/* import only the necessary Bootstrap files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
/* -------begin customization-------- */
/* change the primary theme color to red */
$theme-colors: (
  primary: #ed9391,
);

.btn-primary {
  color: #fff !important;
}
/* -------end customization-------- */
/* finally, import ../node_modules/Bootstrap to set the changes! */
@import "../node_modules/bootstrap";

html {
  scroll-behavior: smooth;
}

.custom-banner {
  background: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
  background-size: cover;
  background-position: center;
  .custom-border {
    border-style: dashed !important;
    .custom-banner-h1 {
      font-size: 48px;
    }
    .custom-banner-subtitle {
      font-size: 24px;
    }
  }
}

.custom-icon-size {
  font-size: 12px !important;
}

.custom-h2 {
  font-size: 25px;
}

.custom-p {
  font-size: 14px;
}

.custom-left-bubble {
  border-radius: 0px 50px 50px;

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }
}
.custom-right-bubble {
  border-radius: 50px 0px 50px 50px;
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }
}

.custom-header-parent {
  width: 100vw;
}

.custom-contact {
  background: url("../public/img/contact-bg.webp");
  background-position: center;
  background-size: cover;
}

.custom-border {
  border-width: medium !important;
}

.custom-white-space {
  white-space: pre-wrap;
}
